/*  Austin Henley
    Bare bones CSS template
*/

body {
    font-family:Helvetica, sans-serif;
    margin:auto;
    padding:15px;
    margin-top:-20px;
    max-width:700px;
    font-size:16px;
    text-align:left;
    background-color:white;
    position:relative;
}

sup {
    font-size: x-small;
    line-height: 0.0;
}

sub {
    font-size: x-small;
} 

a {
    text-decoration:none;
}

li {
    margin:0.25em;
    font-size:96%;
}

h1 {
    margin-top:0.8em;
    margin-bottom:0.8em;
    font-size:1.5em;
}

h1.blogtitle {
    margin-bottom:0.0em;
}

h2 {
    margin-top:1.4em;
    margin-bottom:0.25em;
    font-size:1.35em;
}

h3, h4 {
    margin-top:1.4em;
    margin-bottom:0.25em;
}

hr {
    margin-top:0.75em;
    margin-bottom:0.75em;
}

td {
    border-bottom:2px solid #CCCCCC;
}

pre {
    overflow-x:auto;
}

p {
    line-height:1.15em;
    margin-bottom:1.15em;
}

ul {
    margin-bottom:1.35em;
}

blockquote {
    color: navy;
    text-align: center;
    font-style: italic;
    background: #dddddd;
    border-radius: 8px;
    margin: auto;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    padding: 0.6em 8px;
    width: 80%;
}

blockquote p {
    display: inline;
}

.dense p {
    margin-top:0.2em;
    margin-bottom:0em;
    line-height:1.3em;
}

.news li {
    font-size:90%;
}

.right {
    text-align:right;
    margin-right:40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.card {
    padding: 12px;
}

.headshot {
    width: 172px;
    height: 200px; 
    margin: 0px 0px 0 0;
    border-radius: 10%;
    object-fit: cover; 
    object-position: 0% 8%;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.text-container {
    flex: 2;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-container {
    flex-basis: 100px;
    margin: 20px 20px 10px 35px;
}

.links {
    margin-bottom: 1em;
}

/* For mobile */
@media only screen and (max-width: 540px) {
    .photo-container {
        margin-left: 0px;
    }

    .links {
        margin-bottom: 0; 
    }
}




