body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  max-width: 800px !important;
}

.navbar-default {
	background-color: #007733;
	border-color: #007733;
	
}
.navbar-default .navbar-brand {
	color: #f5f5f5;
	font-size: 26px !important;
	font-weight: bold;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #f5f5f5;
}
.navbar-default .navbar-text {
	color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a {
	color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #f5f5f5;
	background-color: #007733;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #f5f5f5;
	background-color: #007733;
}
.navbar-default .navbar-toggle {
	border-color: #007733;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #007733;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f5f5f5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #f5f5f5;
}
.navbar-default .navbar-link {
	color: #f5f5f5;
}
.navbar-default .navbar-link:hover {
	color: #f5f5f5;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #f5f5f5;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #f5f5f5;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #f5f5f5;
		background-color: #007733;
	}
}

hr {
  border-color: #DDDDDD;
  background-color: #DDDDDD;
  border-style: solid none;
  border-width: 1px 0;
  margin-top: 34px;
  margin-bottom: -10px;
}


#pic {
	border:1px solid #BBBBBB;
	width: 160px;
	height: auto;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
}

p {
  font-size: 14px !important;
  font-weight: normal !important;
}

#email{
  font-size: 12px !important;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 2px;
  color: #555555;
}

dt {
  margin-bottom: -2px;
}

#games {
  margin-bottom: 5px;
}

dd {
  margin-left: 8px;
}

